.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.vertical-middle {
    vertical-align: middle!important;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.table-column {
    white-space: nowrap;
    vertical-align: middle!important;
}
